template(name="navbar")
  nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
    .container-fluid
      .navbar-header
        a.navbar-brand(href="{{pathFor 'home'}}") Site Share
      .collapse.navbar-collapse
        .navbar-left.text-center.action-add-website(role="search")
          i.fa.fa-plus
        ul.nav.navbar-nav.navbar-right.authentication
          if currentUser
            a.profile.nav-link(href="") {{loggedInUser}}
            a.logout.nav-link(href="") Logout
          else
            .dropdown
              a#dropdownMenu.dropdown-toggle.nav-link(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true' href="") Login
                span.caret
              ul.dropdown-menu(aria-labelledby='dropdownMenu')
                li.custom-login-form
                  p.show-login Login
                  form.login-form
                    input.form-control.account.loginEmail(type='email' placeholder='EMAIL')
                    input.form-control.account.loginPassword(type='password' placeholder='PASSWORD')
                    input.btn.btn-info.btn-block.account(type="submit" value="Sign In")
                li.custom-signup-form
                  a.show-signup.nav-link(href="") New User? Sign Up...
                  form.signup-form
                    input.form-control.account.registerEmail(type='email' placeholder='EMAIL')
                    input.form-control.account.registerPassword(type='password' placeholder='PASSWORD')
                    input.btn.btn-success.btn-block.account(type="submit" value="Sign Up")
        .navbar-form.navbar-right
          .form-group
            +EasySearch.Input index=websiteIndex attributes=inputAttribute
