$orange: #FFCC66
$gray-lighter: #EEEEEE
$gray-light: #D3D3D3
$gray: #9D9D9D
$gray-black: #3c3c3c
$white: #ffffff
$blue: #3BB8FD
$blue-darker: darken($blue, 30)
$blue-dark: #1C91C0
$purple: #7b5c9a
$purple-light: #e4e4f1
$purple-lighter: #73A5FC
$green-dark: #C1C937
$green-light: #32CD32
$green-lighter: #56C856
$red-light: #D84E1F
$red: #C94533

@keyframes shake
  10%, 90%
    transform: translate3d(-1px, 0, 0)
  20%, 80%
    transform: translate3d(2px, 0, 0)
  30%, 50%, 70%
    transform: translate3d(-4px, 0, 0)
  40%, 60%
    transform: translate3d(4px, 0, 0)


body
  padding-top: 100px

h1,
h2,
h3,
h4,
div,
p
  margin: 0

#iron-router-progress
  background-color: $orange

input.form-control
  height: 40px
  font-size: 2rem
textarea.form-control
  font-size: 2rem

.btn:focus
  outline: none

/// Placeholder
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder
  color: $gray-black
  font-size: 2rem
  opacity: 0.5
  -webkit-transition: opacity 0.35s ease-in-out
  transition: opacity 0.35s ease-in-out

input:-moz-placeholder, textarea:-moz-placeholder
  color: $gray-black
  font-size: 2rem
  opacity: 0.5
  -moz-transition: opacity 0.35s ease-in-out
  transition: opacity 0.35s ease-in-out

input::-moz-placeholder, textarea::-moz-placeholder
  color: $gray-black
  font-size: 2rem
  opacity: 0.5
  -moz-transition: opacity 0.35s ease-in-out
  transition: opacity 0.35s ease-in-out

input:-ms-input-placeholder, textarea:-ms-input-placeholder
  color: $gray-black
  font-size: 2rem
  opacity: 0.5
  -ms-transition: opacity 0.35s ease-in-out
  transition: opacity 0.35s ease-in-out


/// Placeholder CSS for hover
input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder
  opacity: 0.8
  -webkit-transition: opacity 0.35s ease-in-out
  transition: opacity 0.35s ease-in-out

input:hover:-moz-placeholder, textarea:hover:-moz-placeholder
  opacity: 0.8
  -moz-transition: opacity 0.35s ease-in-out
  transition: opacity 0.35s ease-in-out

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder
  opacity: 0.8
  -moz-transition: opacity 0.35s ease-in-out
  transition: opacity 0.35s ease-in-out

input:hover:-ms-input-placeholder, textarea:hover:-ms-input-placeholder
  opacity: 0.8
  -ms-transition: opacity 0.35s ease-in-out
  transition: opacity 0.35s ease-in-out


/// Placeholder CSS for Focus
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder
  opacity: 0
  -webkit-transition: opacity 0.35s ease-in-out
  transition: opacity 0.35s ease-in-out

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder
  opacity: 0
  -moz-transition: opacity 0.35s ease-in-out
  transition: opacity 0.35s ease-in-out

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder
  opacity: 0
  -moz-transition: opacity 0.35s ease-in-out
  transition: opacity 0.35s ease-in-out

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder
  opacity: 0
  -ms-transition: opacity 0.35s ease-in-out
  transition: opacity 0.35s ease-in-out

.action
  display: inline-block
  cursor: pointer
  padding: 0 1.5rem
  border-radius: 3px
  .fa
    font-size: 1.6rem
    color: white
    font-weight: bold

.s-alert-info, .s-alert-success, .s-alert-warning, .s-alert-error
  z-index: 1051
  font-size: 2rem


/// navabar
.navbar-collapse
  line-height: 4rem
  .navbar-right
    margin-right: 5px
    .nav-link
      font-size: 18px
      color: $orange
      margin-right: 1rem
    .dropdown
      .dropdown-menu
        width: 300px
      .show-signup, .show-login
        font-size: 2rem
      .custom-signup-form, .custom-login-form
        padding: 1rem 2rem
        .account
          margin-top: 1rem
      .signup-form
        display: none

/// Website
.media
  margin-bottom: 2rem
  .media-left
    padding-right: 30px
    padding-top: 8px
  .website-img:hover, .js-upvote:hover, .js-downvote:hover, .check-details:hover
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both
    transform: translate3d(0, 0, 0)
    backface-visibility: hidden
    perspective: 1000px
  .media-heading
    font-size: 2.2rem
    font-weight: bold
  .js-upvote, .js-downvote
    width: 80px
  .fa, .count
    font-size: 2rem
  .fa-thumbs-up
    color: $green-light
  .fa-thumbs-down
    color: $red-light
  .web-desc
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    font-size: 1.8rem
    margin-bottom: 5px
  .check-details
    display: inline-block
    width: 120px
    padding: 3px
    background-color: $orange
    border-radius: 5px
    color: $gray-black

/// Website Item
.website-item
  .panel-body
    padding: 30px
  .title
    font-size: 3rem
  .desc
    font-size: 2rem
  .panel-footer
    padding: 20px
    .comment-form
      position: relative
      margin-bottom: 30px
      .comment-box
        width: 100%
        height: 50px
      .submit-comment
        &:hover
          background-color: $gray
        background-color: $orange
        border: 1px solid rgba(0,0,0,0)
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        transition: all 0.3s ease
        color: $white
        font-size: 2rem
        height: 50px
        position: absolute
        right: 0
        top: 0
    .comment-detail
      .comment-info
        padding: 5px 0
        .fa-user, .user
          font-size: 1.5rem
        .text
          font-size: 1.8rem




/// website form modal
.websit-form-modal
  .js-save-website-form
    label
      font-size: 2rem
      font-weight: 400
    .description
      resize: vertical
      max-height: 300px

.modal-footer
  button
    font-size: 2rem
    transition: all 0.3s ease
  button:hover, button:focus
    outline: none
    background-color: $blue-dark
    border-color: $white
    color: $white


