template(name="home")
  .container
    +EasySearch.Each index=websiteIndex
      +website
    +EasySearch.Pagination index=websiteIndex maxPages=10}
    +EasySearch.IfNoResults index=websiteIndex
      h2 Ooops, nothing found.... :(

