template(name='websiteForm')
  .modal.fade.websit-form-modal(role="dialog")
    .modal-dialog.modal-lg(role="doucment")
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hiddn="true") &times;
          h3.modal-title New Website Entry
        .modal-body
          form.js-save-website-form
            .form-group
              label(for='url') Site address
              input.url.form-control(type='text', placeholder='http://www.mysite.com')
            .form-group
              label(for='title') Title
              input.title.form-control(type='text', placeholder='Mysite')
            .form-group
              label(for='description') Description
              textarea.description.form-control(type='text', placeholder='I found this site really useful for ...')
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Close
          button.btn.btn-default.submit-website-form(type="button") Submit

