template(name='website')
  .thumbnail.website-item
    a(href="{{pathFor 'websiteItem' _id}}")
      img.website-img(src="images/website.png" alt="website")
    .caption
      a(href='{{url}}') {{title}}
      p.web-desc {{description}}
      .vote-section
        a.btn.btn-default.js-upvote(href='#')
          if upvoteChecked
            i.fa.fa-thumbs-up
          else
            i.fa.fa-thumbs-o-up
          span.count {{upvoteCount}}
        a.btn.btn-default.js-downvote(href='#')
          if downvoteChecked
            i.fa.fa-thumbs-down
          else
            i.fa.fa-thumbs-o-down
          span.count {{downvoteCount}}
