template(name='website')
  .media
    .media-left
      .vote-section
        a.btn.btn-default.js-upvote(href='#')
          if upvoteChecked
            i.fa.fa-thumbs-up
          else
            i.fa.fa-thumbs-o-up
          span.count {{upvoteCount}}
        a.btn.btn-default.js-downvote(href='#')
          if downvoteChecked
            i.fa.fa-thumbs-down
          else
            i.fa.fa-thumbs-o-down
          span.count {{downvoteCount}}

    .media-body
      a.media-heading(href='{{url}}') {{title}}
      p.web-desc {{description}}
      a(href="{{pathFor 'websiteItem' _id}}")
        .check-details.text-center CHECK DETAILS
